<button
  id="dark-mode-toggle"
  class="p-2 rounded flex items-center justify-center w-10 h-10 rounded-lg dark:shadow dark:rounded-lg text-gray-700 dark:text-gray-300"
>
  <!-- Moon icon for light mode (initially hidden if dark mode is preferred) -->
  <img
    src="res/moon-fog.svg"
    id="moon-icon"
    class="dark:hidden"
    alt="Moon Icon"
    style="width: 24px; height: 24px"
  />

  <!-- Sun icon for dark mode -->
  <img
    src="res/sun-fog.svg"
    id="sun-icon"
    class="hidden dark:block"
    alt="Sun Icon"
    style="width: 24px; height: 24px"
  />
</button>
