<!-- This is our footer layout excluding the landing page  -->
 <!-- This is our footer layout excluding the landing page  -->
<script src="/js/script.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>