<!-- This is our footer layout excluding the landing page  -->
 <!-- This is our footer layout excluding the landing page  -->

<nav
style="margin-top: 10px"
id="sidebarMenu"
class="collapse d-lg-block sidebar collapse bg-white"
>
<div class="position-sticky">
  <div class="list-group list-group-flush mx-3 mt-4">
    <a href="/dashboard" class="list-group-item list-group-item-action py-2 ripple bg-primary rounded 4 " style="color: white;">
      <i class="fas fa-chart-area fa-fw me-3"></i><span>Dashboard</span>
    </a>
    
    
    <a
      href="/report-incident"
      class="list-group-item list-group-item-action py-2 ripple"
      >
      <i class="fas fa-flag fa-fw me-3" style="color: red;"></i><span>Report Incident</span></a
      >
   
      <a
        href="/analysis"
        class="list-group-item list-group-item-action py-2 ripple"
      >
        <i class="fas fa-chart-line fa-fw me-3"></i><span>Analysis</span></a
      >
      <a
        href="/statistics"
        class="list-group-item list-group-item-action py-2 ripple"
      >
        <i class="fas fa-chart-line fa-fw me-3"></i><span>Statistical Report</span></a
      >

      <!-- <a
        href="#" 
        class="list-group-item list-group-item-action py-2 ripple"
      >
        <i class="fas fa-user fa-fw me-3"></i><span>User</span>
      </a>

      <a
      href="#"
        class="list-group-item list-group-item-action py-2 ripple"
      >
        <i class="fas fa-landmark fa-fw me-3"></i><span>Police</span>
      </a> -->
      <br>
<hr>

<a
href="/profile"
class="list-group-item list-group-item-action py-2 ripple"
>
<img src="<%= userProfile %>" alt="profile" id="sidebar-profile" class="fa-fw me-3"><span>Profile</span>
</a>
<a
href="#"
class="list-group-item list-group-item-action py-2 ripple"
>
<i class="fas fa-gear fa-fw me-3"></i><span>Setting</span>
</a>
<a
href="/logout"
class="list-group-item list-group-item-action py-2 ripple"
>
<i class="fas fa-right-from-bracket fa-fw me-3" style="color: red;"></i><span>Logout</span>
</a>


</div>
</div>

</nav>
   
