 <!-- section two -->
 <section class="sectiontwo">

  <div class="sectiontwodivthree sectiontwodivthreedisplayone">
      <div class="sectiontwodivfour">
          <p>What We Do?</p>
          <p>We are dedicated to safeguarding all communities by providing comprehensive security solutions. we are a dedicated partner in safeguarding what matters most to you.</p>
      </div>
      <div class="sectiontwodivfive"></div>
  </div>

  <div class="sectiontwodivone">
      <div class="sectiontwodivtwo">
          <img src="/images/handcuff.jpg" alt="">
      </div>
  </div>
  <div class="sectiontwodivthree sectiontwodivthreedisplaytwo">
      <div class="sectiontwodivfour">
          <p>What We Do?</p>
          <p>We are dedicated to safeguarding all communities by providing comprehensive security solutions. we are a dedicated partner in safeguarding what matters most to you.</p>
      </div>
      <div class="sectiontwodivfive"></div>
  </div>
</section>
<!-- section two ends -->
<!-- section three -->
<section class="sectionthree">
  <div class="sectionthreedivone">
      <div class="sectionthreedivtwo">
          <p>Preserving the Peace of Every Citizen!</p>
          <p>We strive to be the most reliable and trusted security provider, ensuring peace of mind for our clients through our unwavering commitment to excellence and our passion for service.</p>
          <div class="sectionthreedivthree"></div>
      </div>
  </div>
  <div class="sectionthreedivfour">
      <div class="sectionthreedivfive">
          <img src="/images/blacksecurity.jpg" alt="">
      </div>
  </div>
</section>
<!-- section three ends -->

<!-- about section -->
<section class="aboutsection" id="about">
  <div class="aboutsectiondivone">
     <div>
          <p>About <span class="spanaboutus">Us</span></p>
          <p>At Vigil Watch, we understand that safety is a fundamental need, and we are committed to providing our community with the highest level of security and protection.</p>
     </div>
  </div>
  <div class="aboutsectiondivtwo">
      <div class="aboutsectiondivtwo-one">
          <p>Our Mission</p>
          <p>Our mission is to create a safer environment for individuals, businesses, and communities by delivering innovative security solutions and services. We strive to be the most reliable and trusted security provider, ensuring peace of mind for our clients through our unwavering commitment to excellence and our passion for service.</p>
          <div class="aboutline"></div>
      </div>
      <div class="aboutsectiondivtwo-one">
          <p>Our Vision</p>
          <p>At Vigil Watch, our vision is to become the leading force in community security and protection, empowering individuals and organizations with the confidence to live and operate in a safe and secure environment. We aim to set the standard for excellence in the security industry by continuously innovating, adapting to emerging threats, and fostering a culture of trust, responsibility, and vigilance. </p>
          <div class="aboutline"></div>
      </div>
  </div>

</section>
<!-- about section ends -->

<!-- services section -->
<section class="services" id="services">
  <div class="servicesetiondivone">
      <div>
          <p>Our <span class="spanaboutus">Services</span></p>
          <p>Our services are designed to ensure the safety and protection of individuals, businesses, and communities. Below is a detailed overview of the services we offer:</p>
      </div>
  </div>
  <div class="aboutsectiondivtwo">
      <div class="aboutsectiondivtwo-one">
          <p>Community Patrol Services</p>
          <p>Our trained security personnel provide regular patrols in residential and commercial areas to deter criminal activity, ensure public safety, and respond swiftly to any incidents. We offer both foot patrols and vehicle patrols, depending on the specific needs of the area.</p>
          <div class="aboutline"></div>
      </div>
      <div class="aboutsectiondivtwo-one">
          <p>Incident Response and Crisis Management</p>
          <p>In the event of an emergency, our rapid response teams are equipped to handle a wide range of situations, from medical emergencies to security breaches. We work closely with emergency services to manage crises effectively and ensure the safety of all involved.</p>
          <div class="aboutline"></div>
      </div>
  </div>
  <!-- <div class="aboutsectiondivtwo">
      <div class="aboutsectiondivtwo-one">
          <p>Our Mission</p>
          <p>Our mission is to create a safer environment for individuals, businesses, and communities by delivering innovative security solutions and services. We strive to be the most reliable and trusted security provider, ensuring peace of mind for our clients through our unwavering commitment to excellence and our passion for service.</p>
          <div class="aboutline"></div>
      </div>
      <div class="aboutsectiondivtwo-one">
          <p>Our Vision</p>
          <p>At Vigil Watch, our vision is to become the leading force in community security and protection, empowering individuals and organizations with the confidence to live and operate in a safe and secure environment. We aim to set the standard for excellence in the security industry by continuously innovating, adapting to emerging threats, and fostering a culture of trust, responsibility, and vigilance. </p>
          <div class="aboutline"></div>
      </div>
  </div> -->

</section>

<!-- services section ends -->

<!-- contact section -->
<section class="contactsection" id="contact">
  <div class="contactsectiondivone">
      <div>
          <p>Contact <span class="spancontactus">Us</span></p>
          <p>If you have any questions or need assistance, please reach out to us. We are here to help and ensure your safety.</p>
      </div>
  </div>
  <div class="contactsectiondivtwo">
      <div class="contactsectiondivthree contactallsectiondivtwo">
          <form action="">
              <p class="signup-para">Sent us a message</p>
              <input type="text" required placeholder="Name">
              <input type="text" required placeholder="Address" class="">
              <textarea name="" id="" placeholder="Message" required></textarea>
              <button class="signup-submitbtn">Submit</button>
          </form>
      </div>
      <div class="contactsectiondivfour contactallsectiondivtwo">
          <!-- <p>Reach out to us</p> -->
          <div class="contactcallmail-location">
              <i class="fa-solid fa-phone-volume callshake"></i>
              <div>
                  <a href="tel:+231775859462">+231775859462</a><br>
                  <a href="tel:+231880811848">+231880811848</a>
              </div>
          </div>
          <div class="contactcallmail-location">
              <i class="fa-solid fa-envelope callshake"></i>
              <a href="mailto:njaygbay@gmail.com">vigilwatch@gmail.com</a>
          </div>
          <div class="contactcallmail-location">
              <i class="fa-solid fa-location-dot callshake"></i>
              <a href="#">12th Street Sink.</a>
          </div>
      </div>
  </div>
</section>
<!-- contact section ends -->
<footer>
  <p>Vigil Watch &copy; 2024</p>
</footer>

<!-- <a href="#home"><i class="fa-solid fa-circle-up uparrow"></i></a> -->
<a href="#home"><i class="fa-solid fa-angle-up uparrow"></i></a>      

</section>