<!-- This is our landing page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vigil practice</title>
    <link rel="stylesheet" href="/css/landingpage.css">
    <link rel="icon" href="eye.png">
</head>
<body>
   <nav class="navbarcontrol">
        <div class="navbarlogocont">
            <img src="/images/eye.png" alt="vigil watch logo">
            <p>Vigil Watch</p>
        </div>
        <div class="navbarlistcont">
            <div class="navcollapsone">
                <ol class="navbarlist">
                    <li><a href="">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a href="">Services</a></li>
                </ol>
                <div class="navbtncont">
                    <button class="bothbtn signupbtn">Sign Up</button>
                    <button class="bothbtn loginbtn">Log In</button>
                </div>
            </div>
            <div class="hamburgercont">
                <div class="line line1"></div>
                <div class="line line2"></div>
                <div class="line line3"></div>
            </div>
        </div>    
   </nav>
   <section class="mainsection">
        <!-- main1 -->
        <section class="main1">
            <div class="main2">
                <img src="/images/policecar.jpg" alt="Image 1">
                <img src="/images/officers.jpeg" alt="Image 2">
                <img src="/images/handcuff.jpg" alt="Image 3">
            </div>
            <!-- Left and right controls -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

            <!-- Indicators -->
            <div class="dot-container">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
            </div>
            <!-- textsection -->
            <div class="textsection">
                <div class="textsectio-paracont">
                    <p>With</p>
                    <p>Vigil Watch</p>
                    <p>Your safety is our priority, and</p>
                    <p>serving you is our dedication.</p>
                    <button class="contactbtn">Contact Us <i class="fa-solid fa-arrow-right-long"></i></button>
                </div>
            </div>
            <!-- textsection ends -->
        </section>
        <!-- main1 ends -->
        <!-- section two -->
        <section class="sectiontwo">
            <div class="sectiontwodivone">
                <div class="sectiontwodivtwo">
                    <img src="/images/handcuff.jpg" alt="">
                </div>
            </div>
            <div class="sectiontwodivthree">
                <div class="sectiontwodivfour">
                    <p>What We Do?</p>
                    <p>We are dedicated to safeguarding all communities by providing comprehensive security solutions. we are a dedicated partner in safeguarding what matters most to you.</p>
                </div>
                <div class="sectiontwodivfive"></div>
            </div>
        </section>
        <!-- section two ends -->
        <!-- section three -->
        <section class="sectionthree">
            <div class="sectionthreedivone">
                <div class="sectionthreedivtwo">
                    <p>Preserving the Peace of Every Citizen!</p>
                    <p>We strive to be the most reliable and trusted security provider, ensuring peace of mind for our clients through our unwavering commitment to excellence and our passion for service.</p>
                    <div class="sectionthreedivthree"></div>
                </div>
            </div>
            <div class="sectionthreedivfour">
                <div class="sectionthreedivfive">
                    <img src="/images/blacksecurity.jpg" alt="">
                </div>
            </div>
        </section>
        <!-- section three ends -->

        <section class="signupformcontrol">
            <div class="signupformdivone">
                <div class="signupformdivtwo">
                    <img src="logoimg.png" alt="logoimage">
                </div>
                <div class="signupformdivthree">
                    <div class="signupclosebtn">
                        <button><i class="fa-solid fa-circle-xmark"></i></button>
                    </div>
                    <form action="">
                        <p class="signup-para">Sing Up</p>
                        <input type="text" required placeholder="Full Name">
                        <input type="email"  placeholder="Email (optional)">
                        <input type="text" required placeholder="Contact (Ex: +231-775...)">
                        <input type="text" required placeholder="Address">
                        <select name="" id="" required>
                            <option value="" selected>Select Gander</option>
                            <option value="">Male</option>
                            <option value="">Female</option>
                            <option value="">Other</option>
                        </select>
                        <input type="password" required placeholder="Password" class="formpassword">
                        <input type="password" required placeholder="Confirm Password">
                        <button class="signup-submitbtn">Submit</button>
                        <div class="signupformdivfour">
                            <p>Already have an account?</p>
                            <p><a href="#" class="displaylogin">Log In</a></p>
                        </div>
                    </form>
                    
                </div>
            </div>
        </section>
   </section>



<script src="/js/landingpage.js"></script>
<script src="https://kit.fontawesome.com/3e247721a8.js" crossorigin="anonymous"></script>
</body>
</html>
