<!-- This is our Login Page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vigil Watch</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="icon" href="eye.png">
</head>
<body>
    <section class="signupformcontrol">
        <div class="signupformdivone">
            <div class="signupformdivtwo">
                <img src="/images/logoimg.png" alt="logoimage">
            </div>
            <div class="signupformdivthree">
                <form action="">
                    <p class="signup-para">Log In</p>
                    <input type="text" required placeholder="Address">
                    <input type="password" required placeholder="Password" class="formpassword">
                    <button class="signup-submitbtn">Submit</button>
                    <div class="signupformdivfour">
                        <p>Don't have an account?</p>
                        <p><a href="signup.html" class="displaylogin">Sign Up</a></p>
                    </div>
                </form>
                
            </div>
        </div>
    </section>
</body>
</html>