<!-- Registration form for user registration -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vigil Watch</title>
    <link rel="stylesheet" href="/css/registration.css">
    <link rel="icon" href="eye.png">
</head>
<body>
    <section class="signupformcontrol">
        <div class="signupformdivone">
            <div class="signupformdivtwo">
                <img src="/images/logoimg.png" alt="logoimage">
            </div>
            <div class="signupformdivthree">
                <form action="">
                    <p class="signup-para">Sing Up</p>
                    <input type="text" required placeholder="Full Name">
                    <input type="email"  placeholder="Email (optional)">
                    <input type="text" required placeholder="Contact (Ex: +231-775...)">
                    <input type="text" required placeholder="Address">
                    <select name="" id="" required>
                        <option value="" selected>Select Gander</option>
                        <option value="">Male</option>
                        <option value="">Female</option>
                        <option value="">Other</option>
                    </select>
                    <input type="password" required placeholder="Password" class="formpassword">
                    <input type="password" required placeholder="Confirm Password">
                    <button class="signup-submitbtn">Submit</button>
                    <div class="signupformdivfour">
                        <p>Already have an account?</p>
                        <p><a href="login.html" class="displaylogin">Log In</a></p>
                    </div>
                </form>
                
            </div>
        </div>
    </section>
</body>
</html>