<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vigil Watch</title>
    <link rel="stylesheet" href="/css/registration.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="icon" href="eye.png">
</head>
<body>
    <section class="signupformcontrol">
        <div class="signupformdivone">
            <div class="signupformdivtwo">
                <img src="/images/Logo.png" alt="logoimage">
            </div>
            <div class="signupformdivthree">
                <form action="/registration" method="post" enctype="multipart/form-data">
                    <p class="signup-para">Sign Up</p>
                    <input type="text" required placeholder="Full Name" name="name">
                    <input type="email"  placeholder="Email (optional)" name="email">

                    <div class="mb-3">
                        <label for="location" class="form-label">Location:</label>
                        <input type="text" class="form-control" id="location" name="location" required>
                    </div>
                    <select name="sex" id="sex" required>
                        <option selected>Select Gander</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                    <div class="mb-3">
                        <label for="phone" class="form-label">Phone:</label>
                        <input type="tel" class="form-control" id="phone" name="phone" required placeholder="+231 XXXXXXXXX">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password:</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-lock"></i></span>
                            <input type="password" class="form-control" id="password" name="password" required placeholder="Enter your password">
                            <span class="input-group-text" onclick="togglePasswordVisibility()"><i id="toggleIcon" class="bi bi-eye"></i></span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="confirm_password" class="form-label">Confirm Password:</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-lock"></i></span>
                            <input type="password" class="form-control" id="confirm_password" name="confirm_password" required placeholder="Confirm your password">
                            <span class="input-group-text" onclick="toggleConfirmPasswordVisibility()"><i  id="ConfirmPasswordtoggleIcon" class="bi bi-eye"></i></span>
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        <label for="profile_picture" class="form-label">Profile Picture:</label>
                        <input type="file" class="form-control" id="profile_picture" name="profile_picture" accept="image/jpg, image/jpeg, image/png" onchange="previewImage(event)">
                    </div>
                    <div class="mb-3">
                        <img id="profile_picture_preview" src="#" alt="Profile Picture Preview" style="display: none; width: 150px;height: 150px; border-radius: 50%; margin: 0 auto;">
                    </div>
                    
                 <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </div>
                    <div class="signupformdivfour">
                        <p>Already have an account?</p>
                        <p><a href="/login" class="displaylogin">Log In</a></p>
                    </div>
                </form>
                
            </div>
        </div>
    </section>
    <script src="/js/registration.js"></script>
</body>
</html>