<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Group 2">
    <title>Sign Up | VigilWatch</title>
    <link href="../css/vendor/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../css/log-in.css" rel="stylesheet">
</head>

<body class="d-flex align-items-center py-4 bg-body-tertiary">

    <main class="form-signin w-100 m-auto">
        <form class="rounded shadow bg-body-tertiary p-5">
            <div class="text-center text-primary mb-2">
                <img class=" mb-4" src="../images/logo2.png" alt="" width="72" height="57">
                <span class="h3 mb-3 fw-normal">
                    <strong>V</strong>igil <strong>W</strong>itch
                </span>
            </div>

            <div class="mb-3">

                <input type="text" class="form-control form-control-lg" id="full-name" placeholder="Enter full name"
                    equired>
            </div>
            <div class="mb-3">
                <!-- <label for="address" class="form-label">Address</label> -->
                <input type="email" class="form-control form-control-lg" id="email" placeholder="Enter email (Optional)"
                    equired>
            </div>
            <div class="mb-3">
                <!-- <label for="address" class="form-label">Address</label> -->
                <input type="text" class="form-control form-control-lg" id="address" placeholder="Enter address"
                    equired>
            </div>
            <div class="mb-3">
                <!-- <label for="password" class="form-label">Password</label> -->
                <input type="password" class="form-control form-control-lg" id="password" placeholder="Enter password"
                    equired>
            </div>

            <button class="btn btn-primary w-100 fs-5 my-2" type="submit">Sign Up</button>
            <div class="mt-3 text-center">
                <strong class="signup-text">
                    Already Have Account?<a href="/sign-in"
                        class="link-offset-2 link-underline link-underline-opacity-0">
                        Sign in</a>
                    </strongcl>
            </div>
        </form>
    </main>
    <script src="../js/bootstrap.bundle.min.js"></script>

</body>

</html>