*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #161d6f3f;
}
/* for  navbar styling */
.navbarcontrol{
    width: 100%;
    height: 70px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 0 0 10px rgb(266, 266, 266); */
    /* border: 1px solid red; */
    padding: 0 20px;
    position: fixed;
    top: 0;
    /* background-color: rgb(266, 266, 266); */
    /* background-color: transparent; */
    z-index: 1000;
    transition: .2s;
}
.navbarcontrolscroll{
    background-color: #000000;
    transition: .3s;
}


.navbarlogocont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
}
.navbarlogocont img{
    width: 60px;
    height: 30px;
    object-fit: cover;
}
.navbarlogocont p{
    /* color: #161D6F; */
    color: rgb(266, 266, 266);
    font-size: .95rem;
    font-weight: 600;
}
.navcollapsone{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 10px;
}
.navbarlistcont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.navbarlist{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.navbarlist li{
    transition: .2s;
}
.navbarlist li:hover{
    transform: translateY(-2px);
}
.navbarlist li a{
    text-decoration: none;
    /* color: #161D6F; */
    color: rgb(266, 266, 266);
    font-size: .95rem;
    font-weight: 500;
    /* font-family: open-sans; */
}
.navbtncont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}
.signupbtn{
    padding: 7px 15px;
    font-size: .8rem;
    background-color: #a56f03;
    color: rgb(266, 266, 266);
    border: 1px solid #a56f03;
    border-radius: 5px;
    color: #000000;
    cursor: pointer;
    transition: .2s;
}
.signupbtn:hover{
    transform: translateY(-2px);
}
.loginbtn{
    padding: 7px 15px;
    font-size: .8rem;
    background-color: transparent;
    /* color: #161D6F; */
    color: rgb(266, 266, 266);
    border: 2px solid #a56f03;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
}
.loginbtn:hover{
    transform: translateY(-2px);
}
/* for  navbar styling ends */

/* for hamburgercont styling */
.hamburgercont{
    width:40px;
    height: 30px;
    cursor: pointer;
    display: flex;
    /* position: fixed; */
    border: 1px solid rgb(266, 266, 266);
    /* background-color: #161D6F; */
    padding: 5px;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}
.line{
    /* background-color: #161D6F; */
    background-color: rgb(266, 266, 266);
    height: 3px;
    border-radius: 5px;
    transition: .4s;
}
.line1{
    width: 50%;
    margin-right: 50%;
}
.line2{
    margin: 4px 0;
    width: 98%;
}
.line3{
    width: 50%;
    margin-left: 50%;
}

.openclose.hamburgercont{
    border: 1px solid rgb(266, 266, 266);
}
.openclose .line1{
    transform: rotate(40deg) translate(3px, 1px);
    background-color: rgb(266, 266, 266);
}
.openclose .line2{
    transform: rotate(-40deg) translate(0px, 0px);
    background-color: rgb(266, 266, 266);
}
.openclose .line3{
    transform: rotate(40deg) translate(-3px, -1px);
    background-color: rgb(266, 266, 266);
}
/* for hamburgercont styling ends */




.navcollapsone.navcollapsoneactive{
    left: 0;
    /* padding-top: 110px; */
}
.navbarlist.navbarlistacive{
    margin-top: 90px;
    transition: .2s;
    transition-delay: .2s;
}
/* for all mediaquery */
@media all and (max-width:800px){
    .navbarlogocont p{
      /* display: none; */
      font-size: .9rem;
    }
    .navbarlist li a{
        font-size: .9rem;
        font-weight: 500;
        /* font-family: open-sans; */
    }
    .bothbtn{
        padding: 6px 13px;
        font-size: .7rem;
    }
}
@media all and (max-width:670px){
    .navbtncont, .navbarlist{
        display: none;
    }
    .navcollapsone{
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 100%;
        bottom: 0;
        background-color: #000000;
        z-index: 998;
        align-items: center;
        flex-direction: column;
        /* padding-top: 110px; */
        transition: .2s;
        /* justify-content: center; */
    }
  
    .hamburgercont{
        display: flex;
        position: fixed;
        right: 20px;
        z-index: 999;
    }
    .navbarlogocont p{
        display: block;
      }
      .navbtncont, .navbarlist{
        display: flex;
        flex-direction: column;
    }
    .navbtncont{
        width: 150px;
        margin-top: 15px;
        gap: 10px;
        /* border: 1px  solid; */
    }
    .bothbtn{
        width: 100%;
        padding: 10px 13px;
    }
}
/* for all mediaquery ends */

/* for the main section */
.main1 {
    width: 100%;
    height: 550px;
    position: relative;
    margin: auto;
    overflow: hidden;
    position: relative;
    /* margin-top: 60px; */
}

.main2 {
    display: flex;
    width: 100%; /* Adjust this based on the number of slides */
    height: 600px;
    transition: transform 0.5s ease-in-out; /* CSS transition for sliding effect */
   flex-direction: row;  /* Ensure images are in a row for horizontal sliding */
}

.main2 img {
    min-width: 100%;
    height: 600px;
    object-fit: cover;
    display: block;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: rgb(266, 266, 266);
    font-weight: bold;
    font-size: 18px;
    /* border-radius: 0 3px 3px 0; */
    user-select: none;
    /* background-color: rgba(0,0,0,0.5); */
    z-index: 900;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.dot-container {
    text-align: center;
    position: absolute;
    bottom: 10px;
    pointer-events: none;
    user-select: none;
    width: 100%;
    z-index: 900;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}
.textsection{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.74);
    padding: 10px 80px;
    display: flex;
    align-items: center;
}
.textsectio-paracont{
    /* border: 1px solid #fff; */
    color: rgb(266, 266, 266);
}
.textsectio-paracont p:nth-child(1){
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.textsectio-paracont p:nth-child(2){
    font-size: 3rem;
    text-transform: uppercase;
    word-spacing: 1px;
    /* color: #a56f03; */
    letter-spacing: 2px;
}
.textsectio-paracont p:nth-child(3){
    font-size: 1rem;
    /* text-transform: uppercase; */
    letter-spacing: 2.5px;
    word-spacing: 1px;
}
.textsectio-paracont p:nth-child(4){
    font-size: 1rem;
    /* text-transform: uppercase; */
    letter-spacing: 2.5px;
    word-spacing: 1px;
    margin-top: 2px;
}
.contactbtn{
    padding: 10px 15px;
    font-size: .8rem;
    background-color: #a56f03;
    color: rgb(266, 266, 266);
    border: 1px solid #a56f03;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 15px;
    color: #000000;
}
/* sectiontwo */
.sectiontwo{
    width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px; 
}
.sectiontwodivone{
    position: relative;
    width: 40%;
    height: 500px;
    background-color: #a56f03;
    border-radius: 10px;
}
.sectiontwodivtwo{
    position: absolute;
    width: 100%;
    height: 400px;
    left: 60px;
    top: 50px;
    border-radius: 10px;
    overflow: hidden;
}
.sectiontwodivtwo img{
    width: 100%;
    height: 100%;
    transition: .4s;
    cursor: pointer;
}
.sectiontwodivtwo img:hover{
    transform: scale(1.1);
}
.sectiontwodivthree{
    width: 40%;
    height: 500px;
    display: flex;
    position: relative;
    border-right: 2px solid #a56f03;
    padding: 10px;
    /* flex-direction: column; */
    align-items: center;
    /* background-color: #a56f03;
    border-radius: 10px; */
    overflow: hidden;
}
.sectiontwodivfour p:nth-child(1){
    text-align: center;
    font-size: 2rem;
    margin-bottom: 15px;
}
.sectiontwodivfive{
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #a56f03;
    z-index: -1;
    bottom: 0;
    right: 0;
}
/* sectiontwo ends */

/* sectionthree */
.sectionthree{
    width: 90%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px; 
    /* margin-top: 50px; */
}
.sectionthreedivone{
    width: 40%;
    height: 500px;
    display: flex;
    position: relative;
    border-left: 2px solid #a56f03;
    /* flex-direction: column; */
    padding: 20px;
    align-items: center;
    /* background-color: #a56f03;
    border-radius: 10px; */
    overflow: hidden;
}
.sectionthreedivtwo{
    /* border: 1px solid; */
}
.sectionthreedivtwo p:nth-child(1){
    text-align: center;
    font-size: 2rem;
    margin-bottom: 15px;
}
.sectionthreedivthree{
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #a56f03;
    z-index: -1;
    bottom: 0;
    left: 0;
}
.sectionthreedivfour{
    position: relative;
    width: 40%;
    height: 500px;
    background-color: #a56f03;
    border-radius: 10px;
}
.sectionthreedivfive{
    position: absolute;
    width: 100%;
    height: 400px;
    right: 60px;
    top: 50px;
    border-radius: 10px;
    overflow: hidden;
}
.sectionthreedivfive img{
    width: 100%;
    height: 100%;
    transition: .4s;
    cursor: pointer;
}
.sectionthreedivfive img:hover{
    transform: scale(1.1);
}
/* sectionthree ends */



/* fot the signup form */
.signupformcontrol{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(266, 266, 266);
    /* background-color: #0d6efd; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #161d6fd2; */
    z-index: 9999;
    
    display: none;

}
.signupformcontrol.displayform{
    display: flex;
    transition: .4s;
}

.signupformdivone{
    /* border: 1px solid; */
    width: 30%;
     /* transition: .4s; */
    /* margin-top: -1600px; */
    /* transform: translateY(-70); */
    /* text-align: center; */
    margin-top: -10px;
    animation: signupslide .4s;
}
.signupformdivone.removesignupform{
    transform: translateY(-1800px);
    transition: .4s;
}
@keyframes signupslide{
    0%{
        transform: translateY(-1800px);
    }
    100%{
        transform: translateY(0);
    }
}
.signupformdivtwo{
    text-align: center;
}
.signupformdivtwo img{
    width: 100px;
}
.signupformdivthree{
    width: 100%;
    padding: 20px;
    box-shadow: 0 0 10px #1e305063;
    border-radius: 8px;
    position: relative;
}
.signupclosebtn{
    width: fit-content;
    position: absolute;
    top: -15px;
    right: -10px;
   
    /* border: 1px solid; */
}
.signupclosebtn button{
    background-color: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #1e3050;
    /* text-align: end; */
}
.formpassword{
    margin-top: 13px;
}
.signup-para{
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.signupformdivthree form  label{
    color: #6b6b6b;
    margin-bottom: 10px;
    font-size: .85rem;
}
.signupformdivthree form select{
    width: 100%;
    color: #6b6b6b;
    border: 1px solid #ccc;
    /* margin-bottom: 10px; */
    border-radius: 7px;
    padding: 8px 10px;
    font-size: .85rem;
    transition: .15s ease;
    background-color: rgb(266, 266, 266);
}
.signupformdivthree form select:focus{
    border: 1px solid  #0d6dfd62;
    box-shadow: 0 0 7px #0d6efd;
}
.signupformdivthree form input{
   width: 100%;
   padding: 8px;
   border: 1px solid #ccc;
   border-radius: 7px;
   font-size: .85rem;
   outline: none;
   transition: .15s ease;
   margin-bottom: 13px;
}
.signupformdivthree form input:focus{
    border: 1px solid  #0d6dfd62;
    box-shadow: 0 0 7px #0d6efd;
}
.signup-submitbtn{
    width: 100%;
    padding: 8px;
    cursor: pointer;
    border: 1px solid  #0d6dfd62;
    border-radius: 7px;
    background-color: #0d6efd;
    color: rgb(266, 266, 266);
    font-size: 1rem;
    outline: none;
    transition: .15s ease;
    margin-top: 13px;
    margin-bottom: 5px;
}
.signupformdivfour{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .8rem;
}

/* fot the signup form */


