.wrapper {
  width: 100%;
  margin: 0 auto;
}

.cover-picture {
  position: relative;
  width: 75%; /* Full width to match Facebook cover style */
  height: 50vh; /* Set a specific height */
  background-color: #f3f3f3; /* Fallback color */
  overflow: hidden; /* Hide overflow for the image */
 }

 .cover-picture img {
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  object-fit: cover;
  border-radius: 5px;
}

.camera-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  line-height: 10px;
  border-radius: 50%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: #ffffff;
  cursor: pointer;
  font-size: 24px;
}

.profile-picture {
  position: relative;
  margin-top: -75px; /* Adjust position to overlap the cover picture */
  display: inline-block;
  z-index: 1; /* Ensure the profile picture is on top */
}

.profile-picture img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #fff;
}

.profile-camera {
  bottom: 0;
  right: 0;
}

.info {
  margin-top: 10px;
  line-height: 2px;
}
.info h4{
 font-size: 2.5rem;
}
.info img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

#profile-type-tabs {
  margin-left: -45pc;
}

#profileTabContent {
  margin-top: 10px;
}

ul li {
  list-style-type: none;
  font-size: 1.2rem;
}

.camera-icon input[type="file"] {
  display: none;
}

/* Ensure the tabs container is centered */
#profile-type-tabs {
 margin-top: 20px;
}

/* Style for the nav-link to look like a button */
.nav-tabs .nav-link {
 border-radius: 25px; /* Adjust radius for a button-like appearance */
 padding: 10px 20px; /* Adjust padding for button size */
 color: #171717; /* Light blue color */
 font-size: 1rem;
 background-color: #e7f0ff; /* Light blue background */
}

/* Style for the active tab */
.nav-tabs .nav-link.active {
 color: #171717; /* White text for active tab */
 background-color: #e7f0ff; /* Blue background for active tab */
}

/* Hover effect */
.nav-tabs .nav-link:hover {
 background-color: #d0e7ff; /* Slightly darker blue for hover effect */
}

/* Ensure the tab content area is properly spaced */
#profileTabContent {
 margin-top: 20px;
}

#card-profile{
 width: 100px;
 height: 100px;
 border-radius: 50%;
}
#incident_type{
 text-transform: capitalize;
 font-size: 1.5rem;
 font-weight: 600;
}
.card{
 width: 70%;
 margin-bottom: 20px;
}

.read-more-link,
.read-less-link {
  color: rgb(37, 37, 156);
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;
}

.read-more-link:hover,
.read-less-link:hover {
  text-decoration: none;
}

#images{
 width: 100px;
 height: 100px;
 vertical-align: middle;
 margin-top: -1rem;
 margin-inline: 5px;
 
}

#name{
 color: #505050;
 font-family: 'Ubuntu',
 sans-serif;
 font-size: 1.3rem;
 font-family: 'Ubuntu', sans-serif;
 padding-left: 10px;
}