section {
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
}

.details {
 gap: 30px;
}

.form-control {
 width: 100%;
}

.input-group {
 position: relative;
}

.checkmark,
.error-icon {
 position: absolute;
 top: 50%;
 transform: translateY(-50%);
 right: 10px;
 font-size: 1.2rem;
 display: none;
}

.checkmark {
 color: green;
}

.error-icon {
 color: red;
}

.switch {
 position: relative;
 display: inline-block;
 width: 40px;
 height: 20px;
 margin-bottom: 10px;
}

.switch input { 
 opacity: 0;
 width: 0;
 height: 0;
}

.slider {
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: #ccc;
 transition: .4s;
}

.slider:before {
 position: absolute;
 content: "";
 height: 16px;
 width: 16px;
 left: 2px;
 bottom: 2px;
 background-color: white;
 transition: .4s;
}

input:checked + .slider {
 background-color: teal;
}

input:checked + .slider:before {
 transform: translateX(18px);
}

.slider.round {
 border-radius: 20px;
}

.slider.round:before {
 border-radius: 50%;
}

.toggle-label {
 font-size: 0.9rem;
 margin-right: 8px;
 vertical-align: middle;
 font-weight: bold;
}

.form-section {
 display: none;
}

.form-section.active {
 display: block;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
 -webkit-appearance: none;
 margin: 0;
}

/* Firefox */
input[type=number] {
 -moz-appearance:textfield;
}

/* NAV BAR */


